.main-contact{
  margin: 70px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
} 

.main-contact{
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
} 



.main-contact .card-contact{
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 300px;
  height: 300px; 
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}


.contact-logo{
  width: 60px;
  height: 60px; 
  border-radius: 15px;
  cursor: pointer;
  padding-right: 10px;
  padding-top: 15px;
  
}

.site-cover{
  height: 150px;
  width: 190px;
  border-radius: 15px;
  padding-top: 5px;
  transition: .75s;
}

.imgdivcontact{
  display: flex;
  flex-direction: row;
  padding: 4px
}








/* p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
} */

/* h1 {
    animation-name: newanimation;
    animation-duration: 5s;
}

    @keyframes  newanimation {
        from { 
            font-size: 100px;
            color: red;
        }

        to { 
            font-size: 35px;
            color: #000000;
        }
    }    */